.vis-loading-screen {
  display: none;
}

.vis-time-axis .vis-text {
  color: inherit;
}

.vis-panel.vis-right {
  width: 0;
}

.vis-item.nightmare-item:nth-child(3n + 1) {
  background-color: orange;
}

.vis-item.nightmare-item:nth-child(3n + 2) {
  background-color: yellowgreen;
}

.vis-item.nightmare-item:nth-child(3n + 3) {
  background-color: aqua;
}

.vis-item.nightmare-item.vis-selected {
  background-color: blue;
}

.vis-item.demon-background {
  background-color: rgba(194, 24, 24, 0.336);
}

.vis-drag-left,
.vis-drag-right {
  display: none;
}

.vis-custom-time {
  cursor: initial;
}

.vis-custom-time > div:first-child {
  display: none;
}

.react-tabs {
  margin-top: 1rem;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
