.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.spinner:after {
  content: ' ';
  display: block;
  width: 36px;
  height: 36px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
