.nightmare-item-container:hover {
  transform: scale(1.1);
}

.nightmare-item-image {
  width: 80px;
}

.nightmare-item-tooltip-name {
  font-size: 1.2em;
}

.nightmare-item-tooltip-name,
.nightmare-item-tooltip-skill-name {
  font-weight: bold;
}

.nightmare-item-tooltip-label {
    text-decoration: underline;
    margin-right: 0.5em;
}

.nightmare-item-tooltip-global-info, .nightmare-item-tooltip-global-warn {
    font-weight: bold;
}

.nightmare-item-tooltip-global-info {
    color: rgb(189, 189, 24);
}

.nightmare-item-tooltip-global-warn {
    color: rgb(199, 29, 29);
}

