.share-link-container {
}

.share-link-input-container {
  display: inline-block;
  border: 1px white solid;
}

.share-link-input-container > * {
  height: 30px;
  vertical-align: middle;
}

.share-link-input-container > input {
  min-width: 200px;
  max-width: 500px;
}

.share-link-input-container > * {
  border: none;
}

.share-link-input-container > button {
    border-left: inherit;
}
