.menu-bar {
  --navbar-height: 48px;

  height: var(--navbar-height);
}

.menu-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-bar li {
  display: inline-block;
  height: var(--navbar-height);
  vertical-align: baseline;
  line-height: var(--navbar-height);
  padding: 0 20px;
}

.menu-bar li:hover {
  background-color: #3b3f47;
  cursor: pointer;
}

.menu-bar li > a {
  text-decoration: none;
  color: inherit;
}
