.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  height: 48px;
  background-color: #242830;
}

.App-main {
  background-color: #31353c;
  flex-grow: 1;
  padding: 1em;
}
