* {
  box-sizing: border-box;
  color: #e1e1e1;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.draggable {
  cursor: grab;
}

input {
  background-color: #4b5261;
}

input:hover {
  background-color: #727886;
}

button {
  background-color: #3c424e;
}

button:hover {
  background-color: #2d303a;
}